[submodule "playground"]
	path = playground
	url = git@bitbucket.org:gorogm/pommermanplayground.git
[submodule "BayesianOptimization"]
	path = BayesianOptimization
	url = https://github.com/gorogm/BayesianOptimization.git
