[submodule "playground"]
	path = playground
	url = https://github.com/gorogm/pommerman_python.git
[submodule "BayesianOptimization"]
	path = BayesianOptimization
	url = https://github.com/gorogm/BayesianOptimization.git
